<a href="https://colab.research.google.com/github/yunhatsal/23python3rd/blob/main/CTBA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 쇼핑몰의 배송료를 계산하는 코드작성
- 사용하는 변수 : price, shipping_cost

In [1]:
print("상품의 가격을 입력하시오.");
price = int(input("구입금액 입력: "));
if price  > 20000:
  shipping_cost = 0
  print(f'구입금액이 2만원 이상입니다.')
else:
  shipping_cost = 3000
  print(f'구입금액이 2만원 이하입니다.')
print(f'회원님의 배송비는 {shipping_cost}원 입니다.')

상품의 가격을 입력하시오.
구입금액 입력: 19900
구입금액이 2만원 이하입니다.
회원님의 배송비는 3000원 입니다.

2. 학생으로부터 성적을 입력받아 합격유무를 출력하는 코드
- 사용변수 : grade

In [3]:
print("성적을 입력하시오.")
grade = int(input("성적입력: "))
if grade >= 70:
  print(f'70점 이상이므로 합격입니다.')
  print("축하합니다. 합격입니다.")
else:
  print(f'70점 이하이므로 불합격입니다.')
  print("아쉽군요. 다시 한번 도전하세요.")

성적을 입력하시오.
성적입력: 60
70점 이하이므로 불합격입니다.
아쉽군요. 다시 한번 도전하세요.

3. 근무시간에 따라 초과근무와 정상근무를 판별하는 코드
- work_hour
- 연산코드 work_hour > 72

In [10]:
print("근무시간을 입력하시오.")
work_hour = int(input("근무시간 입력: "))
if work_hour > 72:
  print("￣"*9)
  print(f'｜ 초과근무입니다.｜')
  print("―"*9)
else:
  print("￣"*9)
  print(f'｜ 정상근무입니다.｜')
  print("―"*9)

근무시간을 입력하시오.
근무시간 입력: 75
￣￣￣￣￣￣￣￣￣
｜ 초과근무입니다.｜
―――――――――

4. 짝수와 홀수를 판별하는 코드
- 사용변수 : _ num _
- 수식 : (_ num _ % 2) !=0:

In [12]:
print("정수를 입력하시오.")
_num_ = int(input("정수 입력: "))
if (_num_ % 2) !=0:
  print(f'입력하신 {_num_}은 홀수입니다.')
else:
  print(f'입력하신 {_num_}은 짝수입니다.')

정수를 입력하시오.
정수 입력: 8
입력하신 8은 짝수입니다.

5. 사용자의 이름과 나이를 물어보고, 답변하는 코드
- 사용변수 : name, age
- 출력할 내용 :
  - 성명
  - 나이 : 20
  - (1)20이하 : 프로그래밍을 배우는 최적의 나이입니다.
  - (2)20이상 : 아직도 늦지 않았습니다.

In [14]:
print("당신의 이름과 나이를 입력하시오.")
name = input("이름: ")
age = int(input("나이: "))
if age > 20:
  print(f'아직도 늦지 않았습니다.')
else:
  print(f'프로그래밍을 배우는 최적의 나이입니다.')

당신의 이름과 나이를 입력하시오.
이름: 윤햇살
나이: 20
프로그래밍을 배우는 최적의 나이입니다.